body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero {
  margin: 20px;
}

.wrapper {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}

.hero {
  height: 100vh;
}

.top {
  display: flex;
  justify-content: flex-end;
}

.logo {
  display: grid;
  place-items: center;
  height: 70vh;
}

.desc {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  p {
    margin: 0;
    padding: 0;
  }
  .desc-left {
    background: #000;
    color: #fff;
    flex-direction: column;
    p {
      margin: 0;
      padding: 0;
    }
  }
  .desc-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

.grid {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .item {
    flex: 0 500px;
  }
}

@media only screen and (max-width: 510px) {
  .hero {
    height: auto;
  }
  .contact-box {
    display: none;
  }

  .desc-right > p {
    display: none;
  }
}
