@font-face {
  font-family: 'Molde-Condensed-Medium';
  src: url('../fonts/Molde-Condensed-Medium.ttf');
}
@font-face {
  font-family: 'Molde-Condensed-LightItalic';
  src: url('../fonts/Molde-Condensed-LightItalic.ttf');
}
@font-face {
  font-family: 'Molde-Condensed-Bold';
  src: url('../fonts/Molde-Condensed-Bold.ttf');
}

body,
html {
  // background: #ad2126;
  // box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Molde-Condensed-Medium';
}

a {
  color: #000;
  text-decoration: none;
  text-transform: lowercase;
}

.hero {
  background: #dddddd;
  margin: 0;
  width:100%;
  .logo {
    img {
      width: 30em;
    }
  }
}

.wrapper {
  // max-width: 1580px; // remove for boxed layout
  width: 100%;
  margin: 0 auto;
  // -webkit-box-shadow: 0px 0px 54px 13px rgba(0, 0, 0, 0.25); // will show if box layout used
  // -moz-box-shadow: 0px 0px 54px 13px rgba(0, 0, 0, 0.25); // will show if box layout used
  // box-shadow: 0px 0px 54px 13px rgba(0, 0, 0, 0.25); // will show if box layout used
}

.top {
  display: flex;
  justify-content: flex-end;
  p {
    font-size: 2em;
    text-transform: uppercase;
  }
}

.logo {
  display: grid;
  place-items: center;
  margin:10em 0.5em 5em;
}

.desc-main {
  margin:2em 0em 10em;
  text-align: center;
  p {
    font-size: 2.5em;
    text-transform: uppercase;
    margin:0;
    letter-spacing: 0.1em;
  }
}

.desc {
  display: flex;
  justify-content: flex-end;
  p {
    margin: 0;
    padding: 0;
  }
  .desc-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 2em 5em;
    p {
      line-height: 1em;
      font-size: 2em;
      letter-spacing: 0.1em;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  // margin: 0 20px; // remove for boxed layout
  // display: flex; // remove for boxed layout
  // flex-wrap: wrap; // remove for boxed layout
  // justify-content: center; // remove for boxed layout
  background: #ad2126;
  .item {
    // flex: 0 500px;
    .black-bg {
      background: #000;
      margin: 2em 5em 2em 0;
      padding: 1em 0.2em 1em 1em;
      color: #fff;
      font-size: 2em;
      letter-spacing: 0.1em;
    }
    .black-bg-2 {
      text-align: center;
      background: #000;
      margin: 2em 3em;
      padding: 0.5em 1em;
      color: #fff;
      font-size: 2em;
      letter-spacing: 0.1em;
      a {
        color: #fff;
      }
    }
    .about-block {
      font-family: 'Molde-Condensed-LightItalic';
      font-size: 2em;
      margin: 1em 4em;
      color: #fff;
      .bold-text {
        font-family: 'Molde-Condensed-Bold';
        font-size: 1.1em;
        letter-spacing: 0.2em;
      }
    }
    .about-block-right {
      font-family: 'Molde-Condensed-LightItalic';
      font-size: 2em;
      margin: 2em 4em;
      color: #fff;
      .bold-text {
        font-family: 'Molde-Condensed-Bold';
        font-size: 1.1em;
        letter-spacing: 0.2em;
      }
    }
  }
}

.solid-line {
  border-left: 7px solid rgb(0, 0, 0);
  height: 62em;
  position: absolute;
  left: 97%;
  margin-left: -3px;
  top: 86%;
} 

.top-left {
  img {
    width:29em;
    position: absolute;
    left:4%;
    top:-5%;
  }
}
.top-left-lines {
  img {
    width:33em;
    position: absolute;
    left:3%;
    top:-5%;
  }
}

footer {
  background: #ad2126;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  // margin: 1em 0;
  padding: 1em 0;
  font-size: 1.5em;
  i {
    margin: 0 0.5em;
  }
  a {
    text-transform: capitalize;
    color: #fff;
  }
}

@media only screen and (max-width: 1180px) {

  .hero {
    height:auto;
    .logo {
      img {
        width: 20em;
      }
    }
  }

  .logo {
    display: grid;
    place-items: center;
    margin:10em 0.5em 0em;
  }

  .top {
    p {
      z-index:2;
      background:rgba(255, 255, 255, 0.5)
    }
  }

  .top-left {
    img {
      width:15em;
      position: absolute;
      left:4%;
      z-index:0;
    }
  }
  .top-left-lines {
    img {
      width:17em;
      position: absolute;
      left:3%;
      top:-5%;
      z-index: 1;
    }
  }

  .solid-line {
    display:none;
  }

  .contact-box {
    display: none;
  }

  .grid {
    .item {
      .black-bg {
        background: #000;
        margin: 1em 2em 1em 0;
        padding: 1em 0.5em;
      }
      .about-block {
        margin: 0.2em 1em 0em 1em;
      }
      .about-block-right {
        margin: 1em;
      }
    }
  }

  .desc-right > p {
    display: none;
  }
}
