@font-face {
  font-family: 'Molde-Condensed-Medium';
  src: url("../fonts/Molde-Condensed-Medium.ttf");
}

@font-face {
  font-family: 'Molde-Condensed-LightItalic';
  src: url("../fonts/Molde-Condensed-LightItalic.ttf");
}

@font-face {
  font-family: 'Molde-Condensed-Bold';
  src: url("../fonts/Molde-Condensed-Bold.ttf");
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Molde-Condensed-Medium';
}

a {
  color: #000;
  text-decoration: none;
  text-transform: lowercase;
}

.hero {
  background: #dddddd;
  margin: 0;
  width: 100%;
}

.hero .logo img {
  width: 30em;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top p {
  font-size: 2em;
  text-transform: uppercase;
}

.logo {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 10em 0.5em 5em;
}

.desc-main {
  margin: 2em 0em 10em;
  text-align: center;
}

.desc-main p {
  font-size: 2.5em;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.1em;
}

.desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.desc p {
  margin: 0;
  padding: 0;
}

.desc .desc-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 2em 5em;
}

.desc .desc-right p {
  line-height: 1em;
  font-size: 2em;
  letter-spacing: 0.1em;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background: #ad2126;
}

.grid .item .black-bg {
  background: #000;
  margin: 2em 5em 2em 0;
  padding: 1em 0.2em 1em 1em;
  color: #fff;
  font-size: 2em;
  letter-spacing: 0.1em;
}

.grid .item .black-bg-2 {
  text-align: center;
  background: #000;
  margin: 2em 3em;
  padding: 0.5em 1em;
  color: #fff;
  font-size: 2em;
  letter-spacing: 0.1em;
}

.grid .item .black-bg-2 a {
  color: #fff;
}

.grid .item .about-block {
  font-family: 'Molde-Condensed-LightItalic';
  font-size: 2em;
  margin: 1em 4em;
  color: #fff;
}

.grid .item .about-block .bold-text {
  font-family: 'Molde-Condensed-Bold';
  font-size: 1.1em;
  letter-spacing: 0.2em;
}

.grid .item .about-block-right {
  font-family: 'Molde-Condensed-LightItalic';
  font-size: 2em;
  margin: 2em 4em;
  color: #fff;
}

.grid .item .about-block-right .bold-text {
  font-family: 'Molde-Condensed-Bold';
  font-size: 1.1em;
  letter-spacing: 0.2em;
}

.solid-line {
  border-left: 7px solid black;
  height: 62em;
  position: absolute;
  left: 97%;
  margin-left: -3px;
  top: 86%;
}

.top-left img {
  width: 29em;
  position: absolute;
  left: 4%;
  top: -5%;
}

.top-left-lines img {
  width: 33em;
  position: absolute;
  left: 3%;
  top: -5%;
}

footer {
  background: #ad2126;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 0;
  font-size: 1.5em;
}

footer i {
  margin: 0 0.5em;
}

footer a {
  text-transform: capitalize;
  color: #fff;
}

@media only screen and (max-width: 1180px) {
  .hero {
    height: auto;
  }
  .hero .logo img {
    width: 20em;
  }
  .logo {
    display: -ms-grid;
    display: grid;
    place-items: center;
    margin: 10em 0.5em 0em;
  }
  .top p {
    z-index: 2;
    background: rgba(255, 255, 255, 0.5);
  }
  .top-left img {
    width: 15em;
    position: absolute;
    left: 4%;
    z-index: 0;
  }
  .top-left-lines img {
    width: 17em;
    position: absolute;
    left: 3%;
    top: -5%;
    z-index: 1;
  }
  .solid-line {
    display: none;
  }
  .contact-box {
    display: none;
  }
  .grid .item .black-bg {
    background: #000;
    margin: 1em 2em 1em 0;
    padding: 1em 0.5em;
  }
  .grid .item .about-block {
    margin: 0.2em 1em 0em 1em;
  }
  .grid .item .about-block-right {
    margin: 1em;
  }
  .desc-right > p {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */