@font-face {
  font-family: 'Molde-Condensed-Medium';
  src: url("../fonts/Molde-Condensed-Medium.ttf");
}

@font-face {
  font-family: 'Molde-Condensed-LightItalic';
  src: url("../fonts/Molde-Condensed-LightItalic.ttf");
}

@font-face {
  font-family: 'Molde-Condensed-Bold';
  src: url("../fonts/Molde-Condensed-Bold.ttf");
}

body,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Molde-Condensed-Medium';
}

a {
  color: #000;
  text-decoration: none;
  text-transform: lowercase;
}

.hero {
  background: #dddddd;
  margin: 0;
  padding: 1em;
}

.hero .logo img {
  width: 22em;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 54px 13px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 54px 13px rgba(0, 0, 0, 0.25);
}

.hero {
  height: 100vh;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top p {
  font-size: 2em;
  text-transform: uppercase;
}

.logo {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 70vh;
}

.desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.desc p {
  margin: 0;
  padding: 0;
}

.desc .desc-left {
  color: #000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  font-size: 2em;
}

.desc .desc-left p {
  margin: 0;
  padding: 0;
  line-height: 1em;
  letter-spacing: 0.1em;
}

.desc .desc-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.desc .desc-right p {
  line-height: 1em;
  font-size: 2em;
  letter-spacing: 0.1em;
}

.grid {
  --auto-grid-min-size: 48rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(var(--auto-grid-min-size), 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  background: #ad2126;
}

.grid .item {
  -webkit-box-flex: 0;
      -ms-flex: 0 750px;
          flex: 0 750px;
}

.grid .item .black-bg {
  background: #000;
  margin: 2em 5em 2em 0;
  padding: 1em 0.2em 1em 1em;
  color: #fff;
  font-size: 2em;
  letter-spacing: 0.1em;
}

.grid .item .black-bg-2 {
  text-align: center;
  background: #000;
  margin: 2em 5em;
  padding: 0.5em 1em;
  color: #fff;
  font-size: 2em;
  letter-spacing: 0.1em;
}

.grid .item .black-bg-2 a {
  color: #fff;
}

.grid .item .about-block {
  font-family: 'Molde-Condensed-LightItalic';
  font-size: 2em;
  margin: 1em 4em;
  color: #fff;
}

.grid .item .about-block .bold-text {
  font-family: 'Molde-Condensed-Bold';
  font-size: 1.1em;
  letter-spacing: 0.2em;
}

.grid .item .about-block-right {
  font-family: 'Molde-Condensed-LightItalic';
  font-size: 2em;
  margin: 2em 4em;
  color: #fff;
}

.grid .item .about-block-right .bold-text {
  font-family: 'Molde-Condensed-Bold';
  font-size: 1.1em;
  letter-spacing: 0.2em;
}

footer {
  background: #ad2126;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 0;
  font-size: 1.5em;
}

footer i {
  margin: 0 0.5em;
}

footer a {
  text-transform: capitalize;
  color: #fff;
}

@media only screen and (max-width: 510px) {
  .hero {
    height: auto;
  }
  .grid {
    --auto-grid-min-size: 20rem;
  }
  .contact-box {
    display: none;
  }
  .grid .item .black-bg {
    background: #000;
    margin: 1em 2em 1em 0;
    padding: 1em 0.5em;
  }
  .grid .item .about-block {
    margin: 0.2em 1em 0em 1em;
  }
  .grid .item .about-block-right {
    margin: 1em;
  }
  .desc-right > p {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */